<h1>Buffets</h1>
<% @buffets.each do |buffet| %>
    <div> 
        <%= link_to buffet_path(buffet) do %>
            <p> <%= buffet.id %> - <%= buffet.commercial_name %>
        <% end %>
        , Cidade - Estado </p>
    </div>
<% end %>