<h1>Pesquisar:</h1>
<%= form_tag buffets_search_path %>
  <input type="text" name="search_term">
  <input type="submit" value="Buscar">
<% end %>

<% if @buffets.present? %>
  <ul>
    <% @buffets.each do |buffet| %>
      <li><%= buffet.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>Nenhum buffet encontrado.</p>
<% end %>